</main>
<footer>
    <div>
        <p>&copy; 2024 Book Blog. All rights reserved. Made with ❤️ by Mazhar Saifi</p>
        <div class="social-icons">
            <h4 >lets connect with us</h4>
            <a href="#" target="_blank" title="Follow us on Facebook"><i class="fa-brands fa-github"></i></a>
            <a href="#" target="_blank" title="Follow us on Twitter"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#" target="_blank" title="Follow us on Instagram"><i class="fa-regular fa-envelope"></i></a>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
