<%- include('partials/header') %>

<div class="contact-me">
    <h2>Contact Me</h2>
    <form action="mailto:saifimazhar8@gmail.com" method="POST" enctype="text/plain"  >
       <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" required></textarea><br><br>

        <button type="submit">Send Message</button>
    </form>
</div>

<%- include('partials/footer') %>
